{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!--<h1>Edit Profile</h1>-->
    <div class="row">
      <div>
        <h3>Add a food. See when it's being served this week. Enjoy.</h3>
        {{ wtf.quick_form(form) }}
      </div>
    </div>

    <p></p>

    <div class="row">
        <div class="list-group col-sm-6">
          <pre>{{ email }}</pre>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScAUuEJnrBiosxmRk6zBu5_Q2y2xLcAlzG-gIr1o4FpR6NHfA/viewform?usp=sf_link">Feedback</a>
        </div>

    	  <div class="list-group col-sm-6">
    	    {% for pref in prefs %}
    	    <a class="list-group-item">
            <form action='\r' method='POST'>
              <input type="hidden" name="food" value="{{ pref }}">
              <button class="close" type="submit button" > &times;</button>
            </form> <h5>{{ pref }}</h5>
          </a>
    	    {% else %}
    	    <a class="list-group-item">No food preferences have been submitted</a>
    	    {% endfor %}
  	    </div>
  	  </div>

{% endblock %}
